/* CSS FOR BODY */

body {
    font-family: 'M PLUS 1 CODE', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ****************** */

/* CSS FOR HEADER SECTION 1 */

.header-section-1 {
    background: black;
    display: flex;
    justify-content: space-around;
}

.header-container-1, .header-container-2 {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #adff2f;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #adff2f;
}

/* ****************** */

