/* CSS FOR BODY */

body {
    margin: 0;
    font-family: 'M PLUS 1 CODE', sans-serif;
}

/* ****************** */

/* CSS FOR HEADER SECTION 1 AND 2*/

.header-section-1, .header-section-2 {
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header-section-1, .header-section-2 {
    padding-bottom: 24px;
}


.header-container-1, .header-container-2, .header-container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-container-3 {
    margin-left: 48px;
}

.header-logo {
    color: #adff2f;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #adff2f;
}

.header-h1, .header-p, .signup-h1, .signup-p {
    color: #adff2f;
}

p {
    width: 300px;
    margin: 0;
    padding: 0;
}

.signup-button {
    background-color: black;
    color: #adff2f;
    margin: 16px;
    padding: 8px 16px;
    border: #5b8f0c solid 2px;
    border-radius: 5px;
}

.header-image {
    display: flex;
    background-image: linear-gradient(to top right, #adff2f, black);
    width: 235px;
    height: 100px;
    border: #5b8f0c solid 2px;
    border-radius: 5px;
    margin-right: 65px;
}

/* ****************** */

/* INFORMATION SECTION 2  */

.information-title-container-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    padding: 24px;
}

.information-title {
    background-color: black;
    color: #adff2f;
    font-size: 48px;
    font-weight: 500;
    border: #5b8f0c solid 2px;
    padding: 16px;
    border-radius: 20px;
}

.information-container-section-2 {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.information {
    width: 200px;
}

.info-image {
    background: linear-gradient(to bottom right, #adff2f, black);
    width: 100px;
    height: 100px;
    border: black solid 2px;
    border-radius: 8px;
    margin-left: 30px;
}

.information-text {
    padding-top: 8px;
}

/* ****************** */

/* QUOTE SECTION 3 */

.quote-box-container-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
    padding: 48px;
    margin-left: auto;
}

.quote-box {
    background-color: black;
    border-radius: 10px;
}

.quote {
    color: #adff2f;
    font-size: 42px;
    width: 700px;
    font-style: italic;
}

.quote-name {
    color: #adff2f;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    padding: 8px;
}


/* ****************** */


/* SIGN UP SECTION 4 */

.signup-box-container-section-4 {
    background-color: black;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-box-section-4 {
    width: 730px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #5b8f0c solid 2px;
    margin-right: 40px;
    border-radius: 5px;
}

.sign-up-information {
    margin: auto;
    padding-bottom: 16px;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* ****************** */

/* FOOTER SECTION LAST  */

.footer-section-last {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

/* ****************** */
